@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

/*common*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    letter-spacing: 3px;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Frank Ruhl Libre', 'NanumSquare', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*header*/


/*main*/
.main{ width: 100%; }
.inner{ width: 1200px; margin: auto;}


/*main_vis*/
.main_vis{ width: 100%; height: 100vh; background-color: #000; position: relative;}

.main_vis .bg{ width: 100%; height: 100%; background: url(../img/bg/bg_vis.jpg) no-repeat; background-size: cover; background-attachment: fixed; opacity: 0.5; position: absolute; top: 0; left: 0;}
.main_vis .bg::after{ content: ''; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: linear-gradient( rgba(0,0,0,0) 60%, rgba(0,0,0,1) 90%);}

.main_vis .con{ width: 500px; height: 500px; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.main_vis .con::after{ content: ''; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: linear-gradient( rgba(0,0,0,0) 70%, rgba(0,0,0,0.6) 95%); z-index: 9;}

.main_vis .con .vis_tit{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 2; }
.main_vis .con .vis_tit h2.t_f{ font-size: 72px;}
.main_vis .con .vis_tit h2.t_s{ font-size: 120px;}
.main_vis .con .vis_tit h2.t_t{ font-size: 96px;}

.main_vis .con .vis_img{ width: 500px; height: 500px; border-radius: 100%; overflow: hidden; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.main_vis .con .vis_img.back{ z-index: 1; background-color: #000;}
.main_vis .con .vis_img.front{ z-index: 3; opacity: 0;
transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-ms-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;}
.main_vis .con:hover .front{ opacity: 1;}
.main_vis .con .vis_img.back img{ width: 100%; opacity: 0.7;}
.main_vis .con .vis_img.front img{ width: 100%; opacity: 1;}


/*main_about*/
.main_about{ width: 100%; background-color: #000; position: relative;}
.main_about::after{ content: '';  width: 100%; height: 350px; position: absolute; bottom:0; left:0; background: linear-gradient(rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100% ); z-index: 0;}

.main_about .greet{ width: 100%; height: 400px; text-align: center; display: table;}
.main_about .greet .txt_wrap{ display: table-cell; vertical-align: middle;}
.main_about .greet strong{ display: inline-block; font-family: 'NanumSquare', sans-serif; color: #c5c2b8; font-size: 28px; font-weight: bold; line-height: 28px;}
.main_about .greet strong:first-child{ margin-bottom: 15px;}

.main_about .keyword{ width: 100%; position: relative; padding: 250px 0 400px;}

.main_about .keyword .key_box{ width: 300px; height: 300px; position: absolute; top: 250px; left: 50%; transform: translate(-50%, 0); z-index: 9;}
.main_about .keyword .key_box .key{ font-size: 36px; font-weight: bold; background-color: #708658; padding: 5px 10px; position: absolute;}
.main_about .keyword .key_box .key_1{ top: 60px; left: -150px; transform: rotate(-30deg);}
.main_about .keyword .key_box .key_2{ top: 30px; left: 150px; transform: rotate(20deg); }
.main_about .keyword .key_box .key_3{ top: 160px; left: -200px; transform: rotate(10deg); }
.main_about .keyword .key_box .key_4{ top: 140px; left: 250px; transform: rotate(5deg); }

.main_about .keyword .key_tit strong{ display: block; color: #c5c2b8; font-size: 108px; font-weight: bold; text-align: center;}
.main_about .keyword .key_tit em{ display: block; color: #c5c2b8; font-size: 72px; font-weight: bold; text-align: center;}

.main_about .keyword .key_txt{ width: 600px; margin: auto; margin-top: 150px; }
.main_about .keyword .key_txt p{ color: #dddad2; font-size: 16px; line-height: 28px; letter-spacing: 0; text-indent: 15px; position: relative;}
.main_about .keyword .key_txt p::before{ content: ''; width: 5px; height: 5px; background-color: #dddad2; position: absolute; top: 11px; left: 0;}
.main_about .keyword .key_txt p a{ color: #e3e3e3; font-size: 16px; line-height: 28px; letter-spacing: 0; }
.main_about .keyword .key_txt p a:hover{ color: #fff; }



.main_proj{ width: 100%; position: relative; padding-bottom: 130px; box-sizing: border-box; }
.main_proj .inner{ position: relative;}
.main_proj .proj_ui{ width: 100%; height: 100%; position: absolute; bottom: 0; z-index: -1;}
.main_proj .proj_ui_sticky{ width: 100%; height: 100vh; position: -webkit-sticky; position: sticky; top: 0; left: 0;}
.main_proj .proj_ui_sticky .txt_wrap{ width: 50%; height: 100%; padding: 100px 20px; box-sizing: border-box; float: left;}
.main_proj .proj_ui_sticky .txt_wrap .proj_tit .tit{ height: 36px; overflow: hidden;}
/*.main_proj .proj_ui_sticky .txt_wrap .proj_tit .tit .wrap{ margin-top: -36px;}*/
.main_proj .proj_ui_sticky .txt_wrap .proj_tit .tit strong{ display: block; font-size: 24px; font-weight: bold; line-height: 36px;}
.main_proj .proj_ui_sticky .txt_wrap .proj_tit .name{ height: 48px; overflow: hidden;}
.main_proj .proj_ui_sticky .txt_wrap .proj_tit .name h4{ display: block; font-size: 36px; font-weight: bold; line-height: 48px;}
.main_proj .proj_ui_sticky .txt_wrap .proj_tit .type{ height: 36px; overflow: hidden;}
.main_proj .proj_ui_sticky .txt_wrap .proj_tit .type strong{ display: block; font-size: 20px; font-weight: bold; line-height: 36px;}

.main_proj .proj_ui_sticky .txt_wrap .proj_progress{ position: absolute; bottom: 50px;}
.main_proj .proj_ui_sticky .txt_wrap .proj_progress .proj_progress_count{ width: 30px; height: 30px; overflow: hidden; float: left;}
.main_proj .proj_ui_sticky .txt_wrap .proj_progress .proj_progress_count em{ display: block; font-size: 24px; line-height: 30px; text-align: center;}
.main_proj .proj_ui_sticky .txt_wrap .proj_progress .proj_progress_bar{ width: 100px; height: 2px; float: left; position: relative; margin: 14px 10px; overflow: hidden;}
.main_proj .proj_ui_sticky .txt_wrap .proj_progress .proj_progress_bar .bar_back{ width: 100px; height: 2px; background-color: #999; position: absolute; top: 0; left: 0;}
.main_proj .proj_ui_sticky .txt_wrap .proj_progress .proj_progress_bar .bar_front{ width: 100px; height: 2px; background-color: #111; position: absolute; top: 0; left: -50%;}
.main_proj .proj_ui_sticky .txt_wrap .proj_progress .proj_progress_total{ width: 30px; height: 30px; float: left; }
.main_proj .proj_ui_sticky .txt_wrap .proj_progress .proj_progress_total em{ display: block; font-size: 24px; line-height: 30px; text-align: center;}
.main_proj .proj_ui_sticky .img_wrap{  width: 50%; height: 100%; float: right;position: relative;}
.main_proj .proj_ui_sticky .img_wrap .bg{ width: 80%; height: 60vh; background-color: #444; position: absolute; top: 120px; right: 0; }

.main_proj .project{ width: 100%; height: 900px; }
.main_proj .project .txt_wrap{ width: 50%; height: 100%; float: left; padding: 250px 20px 100px; box-sizing: border-box;}
.main_proj .project .txt_wrap p{ font-size: 16px; line-height: 40px; letter-spacing: 0;}

.main_proj .project .img_wrap{ width: 50%; height: 100%; float: right; position: relative;}
.main_proj .project.proj_1 .img_wrap .web{ width: 550px; height: 320px; border-radius: 20px; position: absolute; top: 150px; left: 20px; background: url(../img/bg/bg_proj_1_web.jpg) no-repeat; background-size: 100%; box-shadow: 0 10px 20px rgba(0,0,0,0.5);}
.main_proj .project.proj_1 .img_wrap .mobile{ width: 180px; height: 320px; border-radius: 20px; position: absolute; top: 250px; right: 30px; background: url(../img/bg/bg_proj_1_mob.png) no-repeat; background-size: 100%; box-shadow: 0 10px 20px rgba(0,0,0,0.5);}
.main_proj .project.proj_2 .img_wrap .web{ width: 550px; height: 320px; border-radius: 20px; position: absolute; top: 150px; left: 0px; background: url(../img/bg/bg_proj_2_web.jpg) no-repeat; background-size: 100%; box-shadow: 0 10px 20px rgba(0,0,0,0.5);}
.main_proj .project.proj_3 .img_wrap .mobile1{ width: 240px; height: 420px; border-radius: 20px; position: absolute; top: 100px; left: 50px; background: url(../img/bg/bg_proj_3_mob1.jpg) no-repeat; background-size: 100%; box-shadow: 0 10px 20px rgba(0,0,0,0.5);}
.main_proj .project.proj_3 .img_wrap .mobile2{ width: 240px; height: 420px; border-radius: 20px; position: absolute; top: 200px; right: 30px; background: url(../img/bg/bg_proj_3_mob2.jpg) no-repeat; background-size: 100%; box-shadow: 0 10px 20px rgba(0,0,0,0.5);}



.main_cont{ width: 100%; overflow: hidden;}
.main_cont .entry_tit{ width: 100%; height: 600px; padding: 200px 0; position: relative;}
.main_cont .entry_tit h4{ font-size: 120px; font-weight: bold; text-align: center;}

.main_cont .con{width: 100%; height: 600px; background-color: #000; position: relative; z-index: 9;}
.main_cont .cont_tit{ display: block; font-size: 60px; font-weight: bold; color: #c5c2b8; text-align: center; }
.main_cont .cont_txt{ height: 60px; position: absolute; left: 50%; transform: translate(-50%, 0); text-align: center; }
.main_cont .cont_txt.mail{ bottom: 160px; }
.main_cont .cont_txt.call{ bottom: 80px; }
.main_cont .cont_txt .link{ display: block; font-size: 48px; line-height: 50px; color: #c5c2b8;}
.main_cont .cont_txt .detail{ display: none; font-size: 18px; line-height: 20px;  color: #c5c2b8; position: relative;}
.main_cont .cont_txt .detail::after{ content: ''; width: 0; height: 10px; background-color: #d38b59; position: absolute; bottom: 0; left: 0; z-index: -1;
transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-ms-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;}
.main_cont .cont_txt:hover .detail{ display: inline-block;}
.main_cont .cont_txt .detail:hover::after{ width: 100%;}
.main_cont .img_wrap{ position: relative; z-index: -1;}
.main_cont .img_wrap .cont_img{ width: 400px; height: 400px; margin: auto; background: url(../img/bg/bg_contact.png) no-repeat; background-size: cover;}